@model bp_diary
@{
    ViewBag.Title = "Insert BP Records";
}

<h4>Insert BP</h4>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div>@ViewBag.Message</div>
}

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.systolic)
    @Html.TextBoxFor(m => m.systolic)
    <br>

    @Html.LabelFor(m => m.diastolic)
    @Html.TextBoxFor(m => m.diastolic)
    <br>

    <input type="submit" value="Submit">
}